@import url('https://fonts.cdnfonts.com/css/arvo');

html, body{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  font-family: 'sans';
  font-size: 10px;
  background: #19172e;
  user-select: none;
  height: 100vh;
}

h1 {
  font-size: 5.5rem;
  color: #FEFFE2;
  font-family: "Arvo", cursive;
  text-align: center;
  margin-bottom: 0;
} 
label {
  font-weight: 100;
  color: #bb86fc;
  font-size: 12px;
  margin-top: 10px;
  font-weight: bolder;
  font-family: monospace;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
}
button{
  
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 78pt;
  text-align: center;
  color: white;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 5px;
}
