@import url('https://fonts.cdnfonts.com/css/arvo');

body {
    background: #19172e;
    font-family: 'Arova', cursive;
}
h1{
    font-size: 3.4rem;
    color: white;
    font-family: 'Arova', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 150px;
    font-family: 'Arova', cursive;
    margin-top: 85px;
}
label{
    color: #bb86fc;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bolder;
    font-family: monospace;
    
}
button{
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 78pt;
  text-align: center;
  color: white;
  background-color: #212121;

}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 95px;
    font-family: 'Arova', cursive;
    color: white;
}

a{
    color: white;
}

/* Default styles (for larger screens) */
body {
    background: #19172e;
    font-family: 'Arova', cursive;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Arova', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .buttons {
    height: 20vh;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 85px;
  }
  
  
  label {
    color: #bb86fc;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bolder;
    font-family: monospace;
  }
  
  button {
    height: 100px;
    width: 110px;
    border: solid 5px white;
    background: #212121;
    border-radius: 5px;
    font-size: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
  }
  
  footer {
    text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 5px;
  }
  
  /* Styles for smaller screens (e.g., smartphones) */
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 2.4rem;
    }
  
    .buttons {
      width: 90vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 50px;
    }
  
    button {
      margin: 20px 0;
    }
  
    label {
      font-size: 12px;
    }
  
    footer {
      margin-top: 50px;
    }
  }
  
  /* Styles for larger screens (e.g., desktops) */
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 4rem;
    }
  
    .buttons {
      width: 70vw;
    }
  
    button {
      height: 120px;
      width: 130px;
      font-size: 40px;
    }
  
    label {
      font-size: 18px;
    }
  
    footer {
      margin-top: 120px;
    }
  }